:global(#root) {
    width: 100%;
    margin: 0 auto;
    padding: 2rem;
    display: flex;
    justify-content: center;

    .layout {
        flex: 1;
        max-width: 1280px;
    }
}

.editorsPageWrapper {
    display: flex;
    flex-direction: column;

    .header {
        display: flex;
        flex-direction: row;
        align-items: center;
        position: relative;
        padding-bottom: 2rem;

        .logo {
            width: 60px;
            height: 60px;
            position: absolute;
            top: 10px;
            left: 0;
            margin: 0;
            padding: 0;
            cursor: pointer;
        }

        h2 {
            flex: 1;
            text-align: center;
        }
    }

    .editorPageContainer {
    }
}

.editorsAllCompetitionsPage {
    display: flex;
    flex-direction: column;

    .actionsSection {
        display: flex;
        flex-direction: row;
        justify-content: end;
        margin-bottom: 1rem;
    }
}

.editorsCompetitionPage {
    display: flex;
    flex-direction: column;

    .tab {
        &:focus {
            outline: none;
        }
    }

    .manageProblems {
        .specialProblems {

            .header {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
            }

            .problemsContainer {
                display: flex;
                flex-direction: row;
                justify-content: start;

                .specialProblem {
                    border-radius: 10px;
                    border: solid 2px black;
                    padding: 0.25rem 0.5rem;
                    margin-right: 10px;
                }
            }
        }

        .problems {

            .header {
                display: flex;
                flex-direction: row;
                justify-content: space-between;

                h3 {
                    flex: 1;
                }
            }

            .group {
                display: block;
                margin-bottom: 1rem;

                .colorMarkerContainer {
                    display: inline-block;
                    vertical-align: middle;

                    .colorMarker {
                        width: 40px;
                        height: 40px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        margin-right: 10px;
                        border: 1px solid;
                        border-radius: 5px;
                        cursor: pointer;
                        
                        .addIcon {
                            width: 30px;
                            height: 30px;
                        }
                    }
                }

                .problem {
                    display: inline-block;
                    border-radius: 5px;
                    padding: 1rem 2rem;
                    margin-right: 10px;
                    border: 1px solid;

                    &:hover {
                        cursor: pointer;
                        box-shadow: inset 0 0 50px rgb(173, 173, 173, 0.5);
                    }
                }
            }
        }
    }
}

.logo {
    height: 6em;
    padding: 1.5em;
    will-change: filter;
    transition: filter 300ms;
}

.logo:hover {
    filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
    filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@media (prefers-reduced-motion: no-preference) {
    a:nth-of-type(2) .logo {
        animation: logo-spin infinite 20s linear;
    }
}

.card {
    padding: 2em;
}

.greenIcon {
    color: #0be60b;
}

.redIcon {
    color: #ff0000;
}

.horizontallyCentered {
    display: block;
    text-align: center;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    background-color: white;
    border: 2px solid #000;
    box-shadow: 24px;
    padding: 2rem;

    .modalHeader {
        h2 {
            margin-top: 0;
        }
    }

    .modalBody {
        display: block;
    }
}

.form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.editProblemsGroupsModal {
    .groupsList {
        max-height: 450px;
        overflow-y:  auto;
        margin-top: 10px;

        .group {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;

            .square {
                height: 50px;
                width: 50px;
                display: inline-block;
                border: 1px solid;
            }

            .actions {
                display: flex;
                flex-direction: row;

                .actionIcon {
                    min-width: auto;
                }
            }
        }
    }
}

.addProblemsGroup {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .select {
        flex: 1;
    }
}

.colorOption {
    justify-content: center !important;

    .colorLabel {
        height: 30px!important;
        width: 50%;
    }
}